// La barre du menu n'est pas positionné comme celle de la
// page d'erreur.
#entete__menu .la_barre {
  top: 20%;
  right: 0px;
  left: auto;

  width: 20%;
  height: 10%;
  position: absolute;
  overflow: visible;

  @media (max-width: 1142px) {
    display: none;
  }
}

// La barre du menu n'est pas positionné comme celle de la
// page d'erreur.
.la_barre {
  left: 11%;
  width: 50%;
  height: 2%;
  position: relative;
  overflow: visible;

  @media (max-width: 1142px) {
    display: none;
  }
}

.recherche__input {
  border-radius: 10px;
  padding: 2%;
}

.recherche {
  overflow: visible;
}
